/* Custom Pagination */
.custom-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #CFCBF399; /* Màu xám nhạt */
  border-radius: 50%;
  border-color: #BDC1CA;
  transition: all 0.3s ease-in-out;
}

.custom-pagination .swiper-pagination-bullet-active {
  width: 38px; /* Kéo dài thành hình pill */
  height: 16px;
  background-color: black; /* Màu đen */
  border-radius: 10px;
}

/* Fix Swiper Pagination Bị Dài */
.swiper-pagination-horizontal {
  width: auto !important;  /* Chỉ lấy đúng kích thước của các chấm */
}

